schemas/policy/assign_message.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="AssignMessage" type="assignMessageBean"/>

  <xs:element name="FaultRule" type="faultRuleBean"/>

  <xs:element name="Payload" type="payload"/>

  <xs:element name="Policy" type="policy"/>

  <xs:element name="Properties" type="jaxbProperties"/>

  <xs:element name="Step" type="step"/>

  <xs:element name="Template" type="templateBean"/>

  <xs:element name="beanImpl" type="beanImpl"/>

  <xs:element name="inlineBean" type="inlineBean"/>

  <xs:element name="jaxbPropertyEntry" type="jaxbPropertyEntry"/>

  <xs:element name="stepDefinitionBean" type="stepDefinitionBean"/>

  <xs:complexType name="assignMessageBean">
    <xs:complexContent>
      <xs:extension base="stepDefinitionBean">
        <xs:sequence>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="Copy" type="copyAction"/>
            <xs:element name="Remove" type="removeAction"/>
            <xs:element name="Add" type="addAction"/>
            <xs:element name="Set" type="setAction"/>
            <xs:element name="AssignVariable" type="assignVariableAction"/>
          </xs:choice>
          <xs:element name="IgnoreUnresolvedVariables" type="xs:string" minOccurs="0"/>
          <xs:element name="AssignTo" type="lhs" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="stepDefinitionBean" abstract="true">
    <xs:complexContent>
      <xs:extension base="leafBean">
        <xs:sequence>
          <xs:element name="Description" type="xs:string" minOccurs="0"/>
          <xs:element name="DisplayName" type="xs:string" minOccurs="0"/>
          <xs:element name="FaultRules" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="FaultRule" minOccurs="0" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element ref="Properties" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="async" type="xs:string"/>
        <xs:attribute name="continueOnError" type="xs:string"/>
        <xs:attribute name="enabled" type="xs:string"/>
        <xs:attribute name="version" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="leafBean" abstract="true">
    <xs:complexContent>
      <xs:extension base="beanImpl">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="beanImpl" abstract="true">
    <xs:sequence/>
    <xs:attribute name="isHybrid" type="xs:boolean"/>
    <xs:attribute name="name" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="copyAction">
    <xs:complexContent>
      <xs:extension base="nameAction">
        <xs:sequence>
          <xs:element name="Verb" type="xs:boolean" minOccurs="0"/>
          <xs:element name="Version" type="xs:boolean" minOccurs="0"/>
          <xs:element name="Path" type="xs:boolean" minOccurs="0"/>
          <xs:element name="StatusCode" type="xs:boolean" minOccurs="0"/>
          <xs:element name="ReasonPhrase" type="xs:boolean" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="source" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="nameAction" abstract="true">
    <xs:complexContent>
      <xs:extension base="action">
        <xs:sequence>
          <xs:element name="Headers" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="Header" type="nameEntry" minOccurs="0" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="QueryParams" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="QueryParam" type="nameEntry" minOccurs="0" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="FormParams" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="FormParam" type="nameEntry" minOccurs="0" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="Payload" type="xs:boolean" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="action" abstract="true">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="nameEntry">
    <xs:sequence/>
    <xs:attribute name="name" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="removeAction">
    <xs:complexContent>
      <xs:extension base="nameAction">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="addAction">
    <xs:complexContent>
      <xs:extension base="nameValueAction">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="nameValueAction" abstract="true">
    <xs:complexContent>
      <xs:extension base="action">
        <xs:sequence>
          <xs:element name="Headers" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="Header" type="nameValueEntry" minOccurs="0" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="QueryParams" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="QueryParam" type="nameValueEntry" minOccurs="0" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="FormParams" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="FormParam" type="nameValueEntry" minOccurs="0" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="nameValueEntry">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="name" type="xs:string" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="setAction">
    <xs:complexContent>
      <xs:extension base="nameValueAction">
        <xs:sequence>
          <xs:element name="Payload" type="xs:anyType" minOccurs="0"/>
          <xs:element name="Verb" type="xs:string" minOccurs="0"/>
          <xs:element name="Version" type="xs:string" minOccurs="0"/>
          <xs:element name="Path" type="xs:string" minOccurs="0"/>
          <xs:element name="StatusCode" type="xs:string" minOccurs="0"/>
          <xs:element name="ReasonPhrase" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="assignVariableAction">
    <xs:complexContent>
      <xs:extension base="action">
        <xs:sequence>
          <xs:element name="Name" type="xs:string"/>
          <xs:element name="Value" type="xs:string" minOccurs="0"/>
          <xs:element name="Ref" type="xs:string" minOccurs="0"/>
          <xs:element ref="Template" minOccurs="0"/>
          <xs:element name="PropertySetRef" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="templateBean">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="ref" type="xs:string"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="lhs">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="type" type="messageType"/>
        <xs:attribute name="transport" type="xs:string"/>
        <xs:attribute name="createNew" type="xs:boolean"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="faultRuleBean">
    <xs:complexContent>
      <xs:extension base="inlineBean">
        <xs:sequence>
          <xs:element name="Condition" type="xs:string" minOccurs="0"/>
          <xs:element name="Description" type="xs:string" minOccurs="0"/>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Step"/>
            <xs:element ref="Policy"/>
          </xs:choice>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="inlineBean" abstract="true">
    <xs:complexContent>
      <xs:extension base="beanImpl">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="step">
    <xs:complexContent>
      <xs:extension base="inlineBean">
        <xs:sequence>
          <xs:element name="Condition" type="xs:string" minOccurs="0"/>
          <xs:element name="FaultRules" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="FaultRule" minOccurs="0" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="Name" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="policy">
    <xs:complexContent>
      <xs:extension base="step">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="jaxbProperties">
    <xs:sequence>
      <xs:element name="Property" type="jaxbPropertyEntry" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="jaxbPropertyEntry">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="name" type="xs:string"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="payload">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="contentType" type="xs:string"/>
        <xs:attribute name="variablePrefix" type="xs:string"/>
        <xs:attribute name="variableSuffix" type="xs:string"/>
        <xs:attribute name="resourceURL" type="xs:string"/>
        <xs:attribute name="defaultVariableValue" type="xs:string"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="messageType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="request"/>
      <xs:enumeration value="response"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>

